@import "./variables";

// border / outline
.border {
	border: 1px solid gray ;
	// color
	&-primary {
		border: 1px solid $primary !important;
	}
	&-secondary {
		border: 1px solid $secondary !important;
	}
	&-ternary {
		border: 1px solid $ternary !important;
	}
	&-accent {
		border: 1px solid $accent !important;
	}
	&-vue {
		border: 1px solid $vue !important;
	}

	// width
	&-1 {
		border-width: 3px !important;
	}
}

.radius-sm {
	border-radius: 5px;
}

// FX
.shadow {
	box-shadow: 0 0px 5px -2px black;
}
