// buttons
.btn-group {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	& > button {
		margin: 0.5rem;
	}
}

.btn,
button[type="submit"],
button[type="button"] {
	cursor: pointer;
	border-color: cadetblue;
	background: linear-gradient(to left, palegreen, palegoldenrod);
}
