@import "./variables";

// forms
.is-invalid {
	color: firebrick;
	border: 1px solid firebrick;
	background-color: #ffdadf;
	border-radius: 5px;
	margin-top: 0.3rem;
	padding: 0.3rem;
	font-size: 0.8rem;
}
